<%- include ('layout/head.ejs')  %>
<div class="welcome">
    <h1>Hello World from Express!</h1>
    <h2>This is an Express Base Proyect</h2>
    <h3>Happy Hacking!</h3>
</div>
<%- include ('layout/footer.ejs')  %>